services:
  classtranscribe:
    build: .
    container_name: ClassTranscribe
    image: lingyezhixing/classtranscribe:latest
    ports:
      - "33013:33013"
    volumes:
      # !! 极其重要 !!
      # 将您宿主机上的文件夹映射到容器内的/data文件夹
      # 左边的路径是您在宿主机上的实际路径，请务必修改为您自己的路径
      # 右边的路径是容器内的路径，与config.yml中的配置保持一致
      # - "/home/user/docekr/ClassTranscribe/data/recordings:/data/recordings"
      # - "/home/user/docekr/ClassTranscribe/data/processed:/data/processed"
    restart: always
    networks:
      - Academia

networks:
  Academia:
    external: true